# Godot 4
.godot/
.import/

# Mono/CS
.mono/
mono_crash.*.json

# OS/IDE noise
.DS_Store
Thumbs.db
.idea/
.vscode/
*.user
*.dblite
*.log

# Build artifacts
*.os
*.so
*.dylib
*.a
*.dll
*.lib
*.exe
/*.json
.ai/
.sconf_temp
